.text {
    width: 60%;
    margin-left: auto;
    margin-top: 0.5vw;
}

.text small {
    font-size: 1vw;
}

.text > div {
    margin-top: 0.5vw;
}

.text p {
    background-color: #2164F4;
    padding: 1vh 1vw;
    color: white;
    font-family: Gilroy-Medium;
    font-size: 0.9vw;
    border-radius: 0.8vw;
    margin-top: 0.4vw;
}

/* --------------------------  MEDIA QUERY  ----------------------------------------------- */

@media only screen and (max-width: 640px) {
    .text {
        width: 90%;
    }

    .text small {
        font-size: 3vw;
    }
 
    .text > div p {
        font-size: 3vw !important;
        padding: 1vh 2vw 1vh 1vw;
    }

}