.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* width: max-content; */
  width: 22vw;
  /* height: max-content; */
  height: fit-content;
  z-index: 15;
  border-radius: 2.2vw;
  padding: 4vw 3vw;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  box-shadow: 10px 20px 30px #00000029;
  background-color: #ffffff;
}

.modalBackdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 14;
}
