.rightBodyContainer {
    width: 95%;
    height: 95%;
  }
  
  .content {
    width: 100%;
    height: 85%;
    position: absolute;
    bottom: 0;
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 2vw;
    padding: 2vw;
  }
  
  .modules {
    width: 100%;
    padding: 0 1vw;
  }
  
  .searchBar {
    height: 8%;
    border: solid 0.05vw #afafaf;
    border-radius: 2vw;
    padding: 0 1vw;
  }
  
  .searchBar input {
    width: 95%;
    border: none;
    outline: none;
    color: #afafaf;
    font-size: 1.5vw;
    font-family: Gilroy-Normal;
    background-color: transparent;
  }
  
  .searchBar input:focus {
    border: none;
    outline: none;
  }
  
  .searchBar svg {
    font-size: 1.5vw;
    color: #afafaf;
  }
  
  
  
  .hrSystemContainer h1 {
    font-family: Gilroy-Bold;
    font-size: 1.5vw;
  }
  
  .hrSystemContainer p {
    font-family: Gilroy-SemiBold;
    font-size: 1vw;
    opacity: 0.79;
    width: 35vw;
  }
  
  .hrSystemContainer button {
    margin-top: 1vh;
    font-family: Gilroy-Light;
    font-size: 1vw;
    display: flex;
    align-items: center;
    height: 4vh;
    width: max-content;
    border: solid 1px #ffffff;
    border-radius: 3vw;
    transition: all 1s ease-out;
  }
  
  .hrSystemContainer button:hover {
    background-color: white;
  }
  
  .hrSystemContainer button:hover p {
    color: black;
  }
  
  .hrSystemContainer button:hover svg {
    color: white;
    background-color: #e639bd;
    border-radius: 50%;
  }
  
  .hrSystemContainer button:hover svg:nth-last-child(1) {
    color: black;
    background-color: white;
  }
  
  .hrSystemContainer button p {
    display: inline;
    width: max-content;
    margin: 0 0.4vw;
    opacity: 1;
    font-size: 1vw;
  }
  
  .hrSystemContainer button svg:nth-child(1) {
    font-size: 4vh;
    margin-left: -1vw;
  }
  
  .hrSystemContainer img {
    position: absolute;
    right: 2vw;
    top: -5vh;
    width: 10vw;
  }
  
  .dashboardContentContainer {
    width: 80%;
    height: 100% !important;
    margin: auto;
    border-radius: 3vw;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  
  .dashboardContentContainer::-webkit-scrollbar {
    display: none;
  }
  
  .progressBox {
    margin: 3vh;
    width: 40% !important;
    height: auto !important;
    padding: 2vw !important;
    border-radius: 2vw;
    border: solid 0.3vw #3953A4;
  }
  
  .progressBox > h3 {
    font-family: Gilroy-Bold !important;
    font-size: 2vw !important;
    text-align: center;
    color: black;
  }
  
  .progressBox:hover {
    background-color: #18A84A;
  }
  
  .progressBox:hover > h3 {
    color: #ffffff;
  }
  
  .events {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .eventHeading {
    color: #37353C;
    font-family: Gilroy-Bold;
    text-shadow: 1.3888888888888888vw 2.4305555555555554vw 8.333333333333334vw #0000001A;
    margin-bottom: 0.7vh;
  }
  
  .noteHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3vh 0;
  }
  
  .noteHeader h3 {
    font-family: "Gilroy-Medium";
    font-size: 2.2vh;
    font-weight: bold;
  }
  
  .noteHeader .noteHeaderLink {
    font-family: "Gilroy-Medium";
    font-size: 1.5vh;
    color: blue;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .note {
    /* width: 20vw; */
    width: 20vw !important;
    /* height: 18vh; */
    height: 18vh !important;
  }
  
  .events > section {
    width: 80%;
  } 
  
  .source {
    color: #37353C;
    font-family: Gilroy-Bold;
    text-shadow: 1.3888888888888888vw 2.4305555555555554vw 8.333333333333334vw #0000001A;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title > h3 {
    color: #0A0818;
    font-family: Poppins-SemiBold;
    font-size: 1.5vw;
  }

  .title button {
    background-color: #7D5AD0;
    color: white;
    font-size: 1.1vw;
    font-family: Poppins-Medium;
    border-radius: 1.5vw;
    padding: .6vw 1vw;
  }

  .tableContainer {
    margin-top: 3vh;
    height: 60vh;
    overflow: auto;
  }

  .tableContainer::-webkit-scrollbar {
    display: none;
  }

  .table > thead > tr > th {
    font-size: 1.2vw;
    color: #FFFFFF;
    font-family: Poppins-SemiBold;
    padding: .6vw;
  }

  .table > tbody > tr > td {
    font-size: 1vw;
    font-family: Poppins-Medium;
    color: #393939;
    padding: 1vw 0;
    text-align: center;
  }

  .table > thead {
    background-color: #3953A4;
    border-bottom: unset !important;
  }

  th:first-child, td:first-child {
    border-radius: 5vw 0 0 5vw !important;
  }

  th:last-child, td:last-child {
    border-radius: 0 5vw 5vw 0 !important;
  }

  .status {
    width: 7vw;
    font-size: .8vw;
  }

  .status:focus {
    outline: none;
  }

  .modal {
    border: solid #3953A4 0.5vw;
    height: 32vh;
    width: 25vw;
  }

.modal svg {
    color: white;
    background: #3953A4 !important;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 50%;
    padding: 0.5vw;
    font-size: 2.5vw;
    margin: auto;
    margin-bottom: 2vh;
}

.modal p {
    color: red;
    font-family: Poppins-SemiBold;
    font-size: 1.2vw;
    text-align: center;
}

.modal button {
    color: #FFFFFF;
    font-family: Gilroy-Bold;
    background-color: #0A0818;
    font-size: 1.2vw;
    width: max-content;
    padding: .2vw 1vw;
    border-radius: 2vw;
    position: absolute;
    margin: auto;
    margin-top: 5vh;
    left: 0;
    right: 0;

}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.screeningStatus {
  cursor: pointer;
}
